.loginButton {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-weight: bold;
    -fx-background-color: #ffffff; 
    -fx-text-fill: #8FAFD5; 
    -fx-font-size: 14px; 
    -fx-pref-width: 150px; 
    -fx-pref-height: 40px; 
    -fx-border-radius: 5px; 
    -fx-background-radius: 5px; 
    -fx-cursor: hand;
    
}

.loginButton:hover{
    -fx-background-color: #B3DDF8; 
    -fx-text-fill: white;
    -fx-cursor: hand;
}    

.createAccountButton {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-weight: bold;
    -fx-background-color: #ffffff; 
    -fx-text-fill: #8FAFD5; 
    -fx-font-size: 14px; 
    -fx-pref-width: 150px; 
    -fx-pref-height: 40px; 
    -fx-border-radius: 5px; 
    -fx-background-radius: 5px; 
    -fx-cursor: hand;
    
}

.createAccountButton:hover{
    -fx-background-color: #B3DDF8; 
    -fx-text-fill: white;
    -fx-cursor: hand;
}    

.loginUsername {
    -fx-background-color: #f0f0f0;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 10px; 
    -fx-prompt-text-fill: #8FAFD5; 
    -fx-font-size: 14px;
    -fx-text-fill: #8FAFD5; 
}

.loginUsername:focused {
    -fx-border-color: #8FAFD5;
    -fx-border-width: 3px;
    -fx-text-fill: #8FAFD5; 
}

.loginPassword {
    -fx-background-color: #f0f0f0;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 10px; 
    -fx-prompt-text-fill: #8FAFD5; 
    -fx-font-size: 14px;
    -fx-text-fill: #8FAFD5; 
}

.loginPassword:focused {
    -fx-border-color: #8FAFD5;
    -fx-border-width: 3px;
    -fx-text-fill: #8FAFD5; 
}

.InsertUsername {
    -fx-background-color: #f0f0f0;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 10px; 
    -fx-prompt-text-fill: #8FAFD5; 
    -fx-font-size: 14px;
    -fx-text-fill: #8FAFD5; 
}

.InsertUsername:focused {
    -fx-border-color: #8FAFD5;
    -fx-border-width: 3px;
    -fx-text-fill: #8FAFD5; 
}

.InsertPassword {
    -fx-background-color: #f0f0f0;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 10px; 
    -fx-prompt-text-fill: #8FAFD5; 
    -fx-font-size: 14px;
    -fx-text-fill: #8FAFD5; 
}

.InsertPassword:focused {
    -fx-border-color: #8FAFD5;
    -fx-border-width: 3px;
    -fx-text-fill: #8FAFD5; 
}

.dateLabel {
    -fx-font-family: "Alfa Slab One";
    -fx-text-fill: #FAF3A9; 
}

.displayUsername {
    -fx-font-family: "Shrikhand";
}

.accountButton {
    -fx-font-family: "Alfa Slab One";
    -fx-font-weight: bold;
    -fx-background-color: #ffffff; 
    -fx-text-fill: #8FAFD5; 
    -fx-font-size: 20px; 
    -fx-border-width: 5px;
    -fx-border-color: #8FAFD5;
    -fx-cursor: hand;
}

.accountButton:hover {
    -fx-background-color: #8FAFD5; 
    -fx-text-fill: white;
    -fx-border-width: 5px;
    -fx-border-color: white;
    -fx-cursor: hand;
}

.taskButton {
    -fx-font-family: "Alfa Slab One";
    -fx-font-weight: bold;
    -fx-background-color: #FAF3A9; 
    -fx-text-fill: #86AAD4; 
    -fx-font-size: 20px; 
    -fx-border-width: 5px;
    -fx-border-color: #8FAFD5;
    -fx-cursor: hand;
}

.taskButton:hover {
    -fx-background-color: #86AAD4; 
    -fx-text-fill: #FAF3A9;
    -fx-border-width: 5px;
    -fx-border-color: #FAF3A9;
    -fx-cursor: hand;
}


.logout_btn {
    -fx-font-family: "Alfa Slab One";
    -fx-font-weight: bold;
    -fx-background-color: #ffffff; 
    -fx-text-fill: #8FAFD5; 
    -fx-font-size: 20px; 
    -fx-border-width: 5px;
    -fx-border-color: #8FAFD5;
    -fx-cursor: hand;
}

.logout_btn:hover {
    -fx-background-color: #8FAFD5; 
    -fx-text-fill: white;
    -fx-border-width: 5px;
    -fx-border-color: white;
    -fx-cursor: hand;

}

.progress-bar {
    -fx-accent: #9ABFE0;
}

.progress-bar .bar {
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 20;
}

.progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 20;
    -fx-text-box-border: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
}

.progressIndicator {
    -fx-accent: #9ABFE0;

}

.lastname_label {
    -fx-font-family: "Alfa Slab One";

}

.givenname_label {
    -fx-font-family: "Alfa Slab One";

}

.program_label {
    -fx-font-family: "Alfa Slab One";

}

.id_label {
    -fx-font-family: "Alfa Slab One";

}

.LastNameField {
    -fx-background-color: #f0f0f0;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 10px; 
    -fx-prompt-text-fill: #8FAFD5; 
    -fx-font-size: 14px;
    -fx-text-fill: #8FAFD5; 
}

.LastNameField:focused {
    -fx-border-color: #8FAFD5;
    -fx-border-width: 3px;
    -fx-text-fill: #8FAFD5; 
}

.GivenNameField {
    -fx-background-color: #f0f0f0;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 10px; 
    -fx-prompt-text-fill: #8FAFD5; 
    -fx-font-size: 14px;
    -fx-text-fill: #8FAFD5; 
}

.GivenNameField:focused {
    -fx-border-color: #8FAFD5;
    -fx-border-width: 3px;
    -fx-text-fill: #8FAFD5; 
}

.StudentIDField {
    -fx-background-color: #f0f0f0;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 10px; 
    -fx-prompt-text-fill: #8FAFD5; 
    -fx-font-size: 14px;
    -fx-text-fill: #8FAFD5; 
}

.StudentIDField:focused {
    -fx-border-color: #8FAFD5;
    -fx-border-width: 3px;
    -fx-text-fill: #8FAFD5; 
}

.ProgramField {
    -fx-background-color: #f0f0f0;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 10px; 
    -fx-prompt-text-fill: #8FAFD5; 
    -fx-font-size: 14px;
    -fx-text-fill: #8FAFD5; 
}

.ProgramField:focused {
    -fx-border-color: #8FAFD5;
    -fx-border-width: 3px;
    -fx-text-fill: #8FAFD5; 
}

.submit_account {
    -fx-font-family: "Alfa Slab One";
    -fx-font-weight: bold;
    -fx-background-color: white; 
    -fx-text-fill: #86AAD4; 
    -fx-font-size: 20px; 
    -fx-border-width: 3px;
    -fx-border-color: #8FAFD5;
    -fx-cursor: hand;
}

.submit_account:hover {
    -fx-background-color: #86AAD4; 
    -fx-text-fill: white;
    -fx-border-width: 3px;
    -fx-border-color: white;
    -fx-cursor: hand;
}

/* FOR TASK VIEW*/

.doneTaskTable {
    -fx-background-color: white; 
}

.doneTaskTable .column-header, .doneTaskTable .filler  {
    -fx-background-color: #86AAD4;
    -fx-border-width: 10px;
    -fx-background-radius: 10px; 
    
}

.mondayTaskTable {
    -fx-background-color: white; 
}

.mondayTaskTable  .column-header, .mondayTaskTable .filler  {
    -fx-background-color: #86AAD4;
    -fx-border-width: 10px;
    -fx-background-radius: 10px; 
    -fx-radius: 10px; 
    -fx-text-fill: white;
    
}

.tuesdayTaskTable {
    -fx-background-color: white; 
}

.tuesdayTaskTable  .column-header, .tuesdayTaskTable .filler  {
    -fx-background-color: #86AAD4;
    -fx-border-width: 10px;
    -fx-background-radius: 10px; 
    -fx-radius: 10px; 
    -fx-text-fill: white;
    
}

.wednesdayTaskTable {
    -fx-background-color: white; 
}

.wednesdayTaskTable  .column-header, .wednesdayTaskTable .filler  {
    -fx-background-color: #86AAD4;
    -fx-border-width: 10px;
    -fx-background-radius: 10px; 
    -fx-radius: 10px; 
    -fx-text-fill: white;
    
}

.thursdayTaskTable {
    -fx-background-color: white; 
}

.thursdayTaskTable  .column-header, .thursdayTaskTable .filler  {
    -fx-background-color: #86AAD4;
    -fx-border-width: 10px;
    -fx-background-radius: 10px; 
    -fx-radius: 10px; 
    -fx-text-fill: white;
    
}

.fridayTaskTable {
    -fx-background-color: white; 
}

.fridayTaskTable  .column-header, .fridayTaskTable .filler  {
    -fx-background-color: #86AAD4;
    -fx-border-width: 10px;
    -fx-background-radius: 10px; 
    -fx-radius: 10px; 
    -fx-text-fill: white;
    
}

.saturdayTaskTable {
    -fx-background-color: white; 
    -fx-text-fill: white;
}

.saturdayTaskTable  .column-header, .saturdayTaskTable .filler  {
    -fx-background-color: #86AAD4;
    -fx-border-width: 10px;
    -fx-background-radius: 10px; 
    -fx-radius: 10px; 
    -fx-text-fill: white;
    
}

.UndoButton {
    -fx-font-family: "Alfa Slab One";
    -fx-font-weight: bold;
    -fx-background-color: #8FAFD5; 
    -fx-text-fill: white; 
    -fx-font-size: 12px; 
    -fx-border-width: 3px;
    -fx-border-color: white;
    -fx-cursor: hand;
}

.UndoButton:hover {
    -fx-background-color: white; 
    -fx-text-fill: #8FAFD5;
    -fx-border-width: 3px;
    -fx-border-color: #FFED00;
    -fx-cursor: hand;
}

.RedoButton {
    -fx-font-family: "Alfa Slab One";
    -fx-font-weight: bold;
    -fx-background-color: #8FAFD5; 
    -fx-text-fill: white; 
    -fx-font-size: 12px; 
    -fx-border-width: 3px;
    -fx-border-color: white;
    -fx-cursor: hand;

}

.RedoButton:hover {
    -fx-background-color: white; 
    -fx-text-fill: #86AAD4;
    -fx-border-width: 3px;
    -fx-border-color: #FFED00;
    -fx-cursor: hand;
}

.completed_tasks {
    -fx-font-family: "Alfa Slab One";
}

.journalButton {
    -fx-font-family: "Alfa Slab One";
    -fx-font-weight: bold;
    -fx-background-color: #9ABFE0; 
    -fx-text-fill: #FAF3A9; 
    -fx-font-size: 20px; 
    -fx-border-width: 5px;
    -fx-border-color: #86AAD4;
    -fx-cursor: hand;
}

.journalButton:hover {
    -fx-background-color: #FAF3A9; 
    -fx-text-fill: #86AAD4;
    -fx-border-width: 5px;
    -fx-border-color: #9ABFE0;
    -fx-cursor: hand;
}
.homeButton {
    -fx-font-family: "Alfa Slab One";
    -fx-font-weight: bold;
    -fx-background-color: #ffffff; 
    -fx-text-fill: #8FAFD5; 
    -fx-font-size: 20px; 
    -fx-border-width: 5px;
    -fx-border-color: #8FAFD5;
    -fx-cursor: hand;
}

.homeButton:hover {
    -fx-background-color: #8FAFD5; 
    -fx-text-fill: white;
    -fx-border-width: 5px;
    -fx-border-color: white;
    -fx-cursor: hand;
}

.DaysChoices {
    -fx-font-family: "Alfa Slab One";
    -fx-font-weight: bold;
    -fx-background-color: #ffffff; 
    -fx-text-fill: #8FAFD5; 
    -fx-border-width: 3px;
    -fx-border-color: #8FAFD5;
    -fx-cursor: hand;

}

.DaysChoices:hover {
    -fx-background-color: #8FAFD5; 
    -fx-text-fill:#8FAFD5;
    -fx-border-width: 3px;
    -fx-border-color: white;
    -fx-cursor: hand;
}

.taskInput {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #8FAFD5;
    -fx-border-width: 1px;
    -fx-border-radius: 10px; 
    -fx-prompt-text-fill: #8FAFD5; 
    -fx-font-size: 14px;
    -fx-text-fill: #8FAFD5; 
}

.taskInput:focused {
    -fx-border-color: #4B5794;
    -fx-border-width: 3px;
    -fx-text-fill: #8FAFD5; 
}

.InserttaskButton {
    -fx-font-family: "Alfa Slab One";
    -fx-font-weight: bold;
    -fx-background-color: #FAF3A9; 
    -fx-text-fill: #8FAFD5; 
    -fx-border-width: 3px;
    -fx-border-color: #8FAFD5;
    -fx-cursor: hand;

}

.InserttaskButton:hover {
    -fx-background-color: #8FAFD5; 
    -fx-text-fill:#FAF3A9;
    -fx-border-width: 3px;
    -fx-border-color: white;
    -fx-cursor: hand;
}

.deleteButton {
    -fx-font-family: "Alfa Slab One";
    -fx-font-weight: bold;
    -fx-background-color: #FAF3A9; 
    -fx-text-fill: #8FAFD5; 
    -fx-border-width: 3px;
    -fx-border-color: #8FAFD5;
    -fx-cursor: hand;

}

.deleteButton:hover {
    -fx-background-color: #8FAFD5; 
    -fx-text-fill:#FAF3A9;
    -fx-border-width: 3px;
    -fx-border-color: white;
    -fx-cursor: hand;
}

.weeklyDone {
    -fx-font-family: "Alfa Slab One";
    -fx-font-weight: bold;
    -fx-background-color: #FAF3A9; 
    -fx-text-fill: #8FAFD5; 
    -fx-border-width: 3px;
    -fx-border-color: #8FAFD5;
    -fx-cursor: hand;

}

.weeklyDone:hover {
    -fx-background-color: #8FAFD5; 
    -fx-text-fill:#FAF3A9;
    -fx-border-width: 3px;
    -fx-border-color: white;
    -fx-cursor: hand;
}

